name: bgs_dbs
services:
    postgres_master:
        image: postgres:17.4
        container_name: postgres_master
        restart: unless-stopped
        environment:
            POSTGRES_DB: ${POSTGRES_DB} 
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            PGDATA: ${PGDATA}
            FILES_DIR: ${FILES_DIR}
            DUMP_FILE: ${DUMP_FILE}
        ports:
            - "${MASTER_PORT}:5432"
        volumes:
            - pgdata_master:${PGDATA}
            - ./${DUMP_FILE}:${FILES_DIR}/999_${DUMP_FILE}:ro
            - ./${SH_FILE}:${AUTO_RUN_DIR}/001_${SH_FILE}:ro
            - ./shared:/shared_status
        command: >
            postgres
            -c wal_level=replica
            -c max_wal_senders=10
            -c max_replication_slots=10
            

    postgres_replica_sync:
        image: postgres:17.4
        container_name: postgres_replica_sync
        restart: unless-stopped
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            PGDATA: ${PGDATA}
        ports:
            - "${SYNC_PORT}:5432"
        depends_on:
            - postgres_master
        entrypoint: >
            bash -c "
            echo 'Ожидание мастера...';
            export PGPASSWORD=${POSTGRES_PASSWORD};

            until pg_isready -h postgres_master -U ${POSTGRES_USER}; do sleep 1; done;
            
            if [ -z \"$$(ls -A ${PGDATA})\" ]; then
                echo 'Начало копирования базы...';
                pg_basebackup -h postgres_master -D ${PGDATA} -U ${POSTGRES_USER} -v -P -X stream -R;
            fi;
            echo 'Запуск реплики...';

            exec docker-entrypoint.sh postgres -c hot_standby=on -c application_name=sync_replica
            "
        volumes:
            - pg_sync_data:${PGDATA}
            - ./shared:/shared_status

    postgres_replica_async:
        image: postgres:17.4
        container_name: postgres_replica_async
        restart: unless-stopped
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            PGDATA: ${PGDATA}
        ports:
            - "${ASYNC_PORT}:5432"
        depends_on:
            - postgres_master
        entrypoint: >
            bash -c "
            echo 'Ожидание мастера...';
            export PGPASSWORD=${POSTGRES_PASSWORD};

            until pg_isready -h postgres_master -U ${POSTGRES_USER}; do sleep 1; done;

            until [ -f /shared_status/dump_complete.flag ]; do 
                echo 'Ждем файл-флаг...'; 
                sleep 2; 
            done;
            sleep 5; 
            if [ -z \"$$(ls -A ${PGDATA})\" ]; then
                echo 'Начало копирования базы...';
                pg_basebackup -h postgres_master -D ${PGDATA} -U ${POSTGRES_USER} -v -P -X stream -R;
            fi;
            
            echo 'Запуск реплики...';
            exec docker-entrypoint.sh postgres -c hot_standby=on
            "
        volumes:
            - pg_async_data:${PGDATA}
            - ./shared:/shared_status

volumes:
  pgdata_master:
  pg_sync_data:
  pg_async_data:
